* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(236, 236, 187);
	overflow: hidden;
}

.container {
	display: grid;
	grid-template-areas: 
	"a a a"
	"b b c";
	width: 60vw;
	height: 90vh;
	margin: 3% auto 0;
}

input {
	display: none;
}

.slider__images {
	grid-area: a;
	overflow: hidden;
	height: 75vh;
	transition: .5s;
}

.images__wrapper {
	height: 400%;
}

img {
	display: block;
	width: 100%;
	height: calc(100% / 4);
}

.slider__text {
	grid-area: b;
	display: flex;
	justify-content: flex-start;
	font-size: 1.5rem;
	color:rgb(178, 65, 65)
}

span {
	display: none;
}

span.active {
	display: block;
}

.slider__buttons {
	grid-area: c;
	display: flex;
	justify-content: flex-end;
	gap: 0.5rem;
}

label {
	display: flex;
	justify-content: center;
	width: 1.9rem;
	height: 1.9rem;
	cursor: pointer;
}
.mems-checker__btn {
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 1rem;
	border: 0.15rem solid rgb(178, 65, 65);
	transition: .5s;
}

label:hover .mems-checker__btn {
	background-color: rgb(238, 204, 159);
}

#first-mem:checked~.slider__buttons>label:nth-of-type(1) .mems-checker__btn {
	background-color: rgb(238, 204, 159);
}

#second-mem:checked~.slider__buttons>label:nth-of-type(2) .mems-checker__btn {
	background-color: rgb(238, 204, 159);
}

#third-mem:checked~.slider__buttons>label:nth-of-type(3) .mems-checker__btn {
	background-color: rgb(238, 204, 159);
}

#fourth-mem:checked~.slider__buttons>label:nth-of-type(4) .mems-checker__btn {
	background-color: rgb(238, 204, 159);
}


#first-mem:checked~.slider__images>.images__wrapper>.active {
	margin-top: 0;
}

#second-mem:checked~.slider__images>.images__wrapper>.active  {
	margin-top: -75vh;
}

#third-mem:checked~.slider__images>.images__wrapper>.active {
	margin-top: -150vh;
}

#fourth-mem:checked~.slider__images>.images__wrapper>.active  {
	margin-top: -225vh;
}